<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forms Are Fun!</title>
  </head>
  <body>
<h1><center>Forms Are Fun</center></h1>
<form method="post" action ="">
  <!-- <label for="noun1"> Enter a name:</label> -->
     <h3>Enter your pet name: <input type="text" name="noun1"/></h3>
     <h3>Enter an activity: <input type="text" name="activity"/></h3>
     <h3>Choose one: </h3>
     <input type="radio" name="teacher" value="Matthew">Matthew
 <br>
 <input type="radio" name="teacher" value="Victoria">Victoria
     <h3>Enter a Celebrity's Name:<input type="text" name="celebrity"/></h3>
     <h3>Enter a TV Show:<input type="text" name="show"/></h3>
<h3><input type="checkbox" name="fun" value="FUNNNN!!!!!!!!!!!">
  Check here if you are having fun at CSSI<br>
  <p><input type="submit" value="Submit"></p>
</form>
  </body>
</html>
