<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Rate My Pet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/carousel.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<style>

body {
    font-family: 'Special Elite', cursive;
    font: 20px;
    line-height: 1.8;
    color: #f5f6f7;
}
</style>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Rate My Pet</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signin">Sign In</a></li>
        <li><a href="feed">Browse</a></li>
        <li><a href="addpet">Add Pet</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h2 class="margin"> <font color="SlateGrey"><b>Bon A Pet Treat </b></h2>

  <h3>A platform for your pets!</h3>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/dogg.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Dog" width="350" height="850">
    </div>

    <div class="item">
    <img src="/images/catt.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Dog" width="350" height="850">
    </div>

    <div class="item">
    <img src="/images/dogdos.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Dog" width="350" height="850">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">About Rate My Pet</h3>
  <p>Rate My Pet is a website that lets you upload and browse through pictures of pets.
    This webpage was started as a project for Google's CSSI program. Our mission is to
    provide a single place where you can showcase all of your pets while browsing
    other people's adorable animals. </p>
  <!-- <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a> -->
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">About the developers</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p> Tanvi Mane </p>
      <p>Tanvi is an incoming freshman at Purdue University Computer Science Program. </p>
      <img src="/images/tanvi.jpg" class="img-responsive-margin"   alt="Image">
      <p>
      <a href="https://github.com/TanviMane">
      <img border="0" alt="Github" src="/images/github.png" width="30" height="30">
      </a>
      </p>
    </div>
    <div class="col-sm-4">
      <p> Jackson Tseng </p>
      <p>Jackson is an incoming freshman at Santa Clara University.</p>
      <img src="images/jackson.jpg" class="img-responsive-margin" style="width:100%" alt="Image">
      <p>
      <a href="https://github.com/jacksontseng">
      <img border="0" alt="github" src="/images/github.png" width="30" height="30">
      </a>
      </p>
    </div>
    <div class="col-sm-4">
      <p> Andrea Koozer </p>
      <p>Andrea is an incoming freshman at the University of Washington, Seattle.</p>
      <img src="/images/andrea.jpg" class="img-responsive-margin" style="width:100%" alt="Image">
      <p>
      <a href="https://github.com/koozera1">
      <img border="0" alt="github" src="/images/github.png" width="30" height="30">
      </a>
      </p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p> For more information, contact us at coolcssistudents@gmail.com</a></p>
</footer>

</body>
</html>



<style>
  background-image: url("/images/Marble.jpg");
  
  .img-responsive-margin{
    height:100;
    width: 100;
  }

</style>
